<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <IncludeSetAclProviderOnDestination>False</IncludeSetAclProviderOnDestination>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.ears.uk.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://w22.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>ears.uk.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>earsukco</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Services.Models.ApplicationDbContext, Services" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EarsEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_99578_ears;User ID=DB_99578_ears_user;Password=Cs5ZWb4LCpTem68k;Integrated Security=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Data.EarsEntities, Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EarsContext" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_99578_ears;Integrated Security=False;User ID=DB_99578_ears_user;Password=Cs5ZWb4LCpTem68k" Name="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_99578_ears;User ID=DB_99578_ears_user;Password=Cs5ZWb4LCpTem68k;Integrated Security=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Services.Models.EarsContext, Services" MigrationConfiguration="Services.Migrations.Configuration, Services" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EarsContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s08.winhost.com;Initial Catalog=DB_99578_ears;User ID=DB_99578_ears_user;Password=Cs5ZWb4LCpTem68k;Integrated Security=False;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EarsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Db.csdl|res://*/Db.ssdl|res://*/Db.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_99578_ears;User ID=DB_99578_ears_user;Password=Cs5ZWb4LCpTem68k;Integrated Security=False;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>